server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false  # Disable deprecated YouTube source - using plugin instead
      spotify: false  # Disable - using lavasrc plugin instead
plugins:
  lavasrc:
    providers:
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    sources:
      spotify: true
      youtube: true
    spotify:
      clientId: "${SPOTIFY_CLIENT_ID}"
      clientSecret: "${SPOTIFY_CLIENT_SECRET}"
      countryCode: "US"
logging:
  level:
    root: INFO
    lavalink: DEBUG
    lavalink.server.io.SocketContext: TRACE