server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      spotify: true
logging:
  level:
    root: INFO
    lavalink: DEBUG
    lavalink.server.io.SocketContext: TRACE