server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false  # Disable built-in (has cipher errors)
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true

plugins:
  youtube:
    enabled: true
    clients:
      - MUSIC
      - ANDROID_MUSIC
      - TVHTML5EMBEDDED
  
  lavasrc:
    sources:
      spotify: true
      deezer: false
      applemusic: false
    providers:
      - 'ytmsearch:"%ISRC%"'
      - 'ytmsearch:%QUERY% audio'
      - 'ytsearch:%QUERY%'
    spotify:
      clientId: "${SPOTIFY_CLIENT_ID}"
      clientSecret: "${SPOTIFY_CLIENT_SECRET}"
      countryCode: "US"

logging:
  level:
    root: INFO
    lavalink: INFO
