server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIdAccess: true
    allowDirectPlaylistIdAccess: true
    clients:
      - MUSIC
      - ANDROID_TESTSUITE
      - WEB
      - TVHTML5EMBEDDED
    # IP rotation for better reliability
    ipBlocks:
      - "0.0.0.0/0"

logging:
  level:
    root: INFO
    lavalink: INFO
