server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true  # Enable for search - plugin will handle playback
      http: true

plugins:
  youtube:
    enabled: true
    clients:
      - MUSIC
      - ANDROID_MUSIC
      - TVHTML5EMBEDDED

logging:
  level:
    root: INFO
    lavalink: INFO
