server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false  # Disabled - using YouTube source plugin instead
      spotify: false  # Disabled - using lavasrc plugin instead
plugins:
  youtube:
    clients:
      - "WEB"
    # Remote cipher server disabled - cipher.lavalink.dev not accessible from Railway
    # Plugin will use local cipher extraction instead
  lavasrc:
    providers:
      - "ytmsearch:\"%QUERY%\""
      - "ytsearch:\"%QUERY%\""
    sources:
      spotify: true
      youtube: true  # Enable YouTube in lavasrc (uses YouTube source plugin)
    spotify:
      clientId: "${SPOTIFY_CLIENT_ID}"
      clientSecret: "${SPOTIFY_CLIENT_SECRET}"
      countryCode: "US"
logging:
  level:
    root: INFO
    lavalink: DEBUG
    lavalink.server.io.SocketContext: TRACE