server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      spotify: true
    plugins:
      lavasrc:
        sources:
          spotify: true
        spotify:
          clientId: "${SPOTIFY_CLIENT_ID}"
          clientSecret: "${SPOTIFY_CLIENT_SECRET}"
          countryCode: "US"
logging:
  level:
    root: INFO
    lavalink: DEBUG
    lavalink.server.io.SocketContext: TRACE